<a href="https://colab.research.google.com/github/Alopezz90/Micro-Credential-Assignments/blob/Assignment-2/DictionaryAssignment2nd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#1
keys = ["Ten", "Twenty", "Thirty"]
values = [10, 20, 30]
keys_dictionary = dict(zip(keys,values))
print(keys_dictionary)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [40]:
#2
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

def merge(dict1, dict2):
  return(dict2.update(dict1))
print(dict1, dict2)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30} {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [41]:
#3
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
print(sampleDict['class']['student']['marks']['history'])

80

In [43]:
#4
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}
resDict = dict.fromkeys(employees, defaults)
print(resDict)
print(resDict["Kelly"])

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}
{'designation': 'Application Developer', 'salary': 8000}

In [8]:
#5
sampleDict = {
  "name": "Kelly",
  "age": 25, 
  "salary": 8000,
  "city": "New York"
}
keys = ["name", "salary"]          #it is getting the keys for the sample dictionary from the list
newDict = {k: sampleDict[k] for k in keys} #k for key, : gets the list data and connects it with the dictionary data
print(newDict)

{'name': 'Kelly', 'salary': 8000}

In [13]:
#6
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keys = ["name", "salary"]

newDict = {}

for k, v in sampleDict.items():
  if k not in keys:
    newDict[k]=v

print(newDict)

{'age': 25, 'city': 'New york'}

In [23]:
#7
SampleDict = {"a": 100, "b": 200, "c": 300}
if 200 in sampleDict.values():
  print("it does exist")

In [29]:
#8
sampleDicts = {
    "name": "Kelly",
    "age": "25",
    "salary": "8000",
    "city": "New York"
}

sampleDicts["location"] = sampleDict.pop("city")
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000}

In [44]:
#9
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
print(min(sampleDict, key=sampleDict.get))

Math

In [46]:
#10
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}
sampleDict['emp3']['salary'] = 8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}